* {
    box-sizing: content-box;
}
.product_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.productCard {
    width: 30%;
    margin: 1%;
    background-color:antiquewhite;
    box-shadow: 5px 5px 5px gray;
    border:1px solid lightsalmon;
}
.product_header {
    border-bottom: 1px solid lightsalmon;
    text-align: center;
}
.product_image {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width: 50%;
    border-radius: 50%;
}
.product_description {
    text-align: justify;
    margin: 10px;
    padding-top: 10px;
}
.product_available {
    width: 100%;
    background-color: plum;
    color:brown
}
.product_sw, .product_qty {
    font-weight: bold;
}
.product_footer {
    font-size: 12px;
}